/*@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

:root{
	--cprimary:#ff00f2;
	--csecondary:#272626;
    --ctertiary: #FF4779;
    --cquaternary: #FF8D00;
}
body{
	font-family: 'Raleway', sans-serif;
	animation: linear fadein .5s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    /*cursor: url(../assets/dot.png), auto;*/
    scroll-behavior: smooth;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%
}

body::-webkit-scrollbar{
	width: 12px;
	background: rgb(255, 255, 255);
}
body::-webkit-scrollbar-track{
	margin-block: .5em;
}
body::-webkit-scrollbar-thumb{
	background: #6a6a6a79;
	border-radius: 100vw;
	border: 2px solid #fff;
	transition: .5s;
}
body::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(rgb(89, 0, 255), rgb(255, 0, 212)) ;
}

*::selection{
	background: #ffddfd;
	color: var(--csecondary);
    margin: 0;
    padding: 0;
}
main{
    overflow-x: hidden;
}

.smoothclear{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    z-index: 2000;
    transition: 1s;
}

.smoothclear.active{
    background-color: transparent;
    visibility: hidden;
}

/*###################CONTENEDORES#####################*/
.container{
	width:  90%;
	margin: 0 auto;
	padding: 80px;
	max-width: 1200px;
	overflow: hidden;
}
/*#####################################################*/
.burger{
    margin-right: 30px;
    margin-top: 10px;
    height:80px;
    width:80px;
    border-radius:8px;
    cursor: pointer;
    display: none; 
    justify-content:center;
    align-items:center;
    flex-direction:column;
    -webkit-gap:8px;
    gap:8px;
    -webkit-transition: transform .3s;
    transition: transform .3s;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}
.buractive.active{
    transform: scale(1);
}
  
.burger div{
    display: none;
    height:6px;
    width: 48px;
    border-radius:3px;
    transition: 0.5s;
}
.burger__bread{
    background-color: #fff;
}

.burger__mid{
    background-color: var(--cprimary);
}

.buractive div:nth-child(1){
    background-color: var(--csecondary);
}
.buractive div:nth-child(3){
    background-color: var(--csecondary);
}

.active div:nth-child(1){
    transform: translateY(12px) rotate(135deg);
}
  
.active div:nth-child(2){
    transform: scale(0);
}
  
.active div:nth-child(3){
    transform: translateY(-16px) rotate(-135deg);
}

/*#######################HEADER########################*/
.header{
    background-color: var(--csecondary);
	height: 100vh;
    width: 100vw;
	position: relative;
}

.nav__container{
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(50px) saturate(200%);
    height: 69px;
    background-color: rgba(39, 38, 38, 0.8);
    position: fixed;
    z-index: 100;
    transition: 1s;
    box-shadow: 0 5px 30px 0px #ffffff10;
}

.nav__container.light{
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 5px 30px 0px #00000015;
}

.nav{
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
}

.nav__ul{
    display: flex;
    list-style: none;
    margin-right: 30px;
    transition: all 0.013s;
}
.nav__ul2{
    list-style: none;
    display: flex;
}

.nav__lia span{
    font-size: 3rem;
    display: none;
}

.nav__li2 a{
    color: var(--csecondary);
    font-weight: 400;
}
.nav__lia{
    margin: 0 8px;
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color .5s, transform .5s, margin .5s;
    font-weight: 300;
}
.nav__separator{
    font-weight: 700;
    opacity: .5;
    color: var(--ctertiary);
}

.nav__lia.active{
    color: var(--cprimary);
    font-weight: 500;
    border-bottom: 2px solid var(--cprimary);
}

.nav__li a:hover{
    color: var(--cprimary);
}

.nav__li2 a:hover{
    color: var(--cprimary);
}

.nav__li:active{
    transform: scale(.9);
}

.nav__li2:active{
    transform: scale(.9);
}

.nav__logomanelli{
    margin-top: 10px;
    width: 50px;
    margin-left: 30px;
    transition: transform .2s;
}

.nav__logomanelli:hover{
    transform: scale(1.2);
}

.nav__logomanelli:active{
    transform: scale(1);
}


.fa-bars{
    transition: color 1s;
}

.fa-bars.black{
    
    color:var(--csecondary)
} 
.fa-bars.white{
    
    color:#fff;
}

.nav__menu{
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}


progress{
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border: none;
    background: transparent;
}
progress::-webkit-progress-bar {
    background: transparent;
}
  
progress::-webkit-progress-value {
    /*mix-blend-mode: difference;*/
    background: linear-gradient(to right, var(--cprimary), var(--ctertiary),var(--cquaternary));
    background-attachment: fixed;
}

progress::-moz-progress-bar {
    /*mix-blend-mode: difference;*/
    background: linear-gradient(to right, var(--cprimary), var(--ctertiary),var(--cquaternary));
    background-attachment: fixed;
}

.hero{
    width: 100vw;
    height: 80vh;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*###############################################################*/


/*########################CONTENIDO HEADER#######################*/
.tags{
    position: absolute;
    top: -50px;
    font-family: 'Dancing Script', cursive;
    color: rgb(255,255,255,0.03);
    font-size: 2rem; font-weight: 300;
    text-align: left;
    user-select: none;   
}
.tags.down{
    top: initial;
    bottom: -50px;
}

.hero__about{
    margin-right: 50px;
}

.about__card{
    position:relative;
    margin:0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.about__title{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: left;
    transition: 1s;
}
.about__hi{
    font-family: 'Dancing Script', cursive;
    transform: rotate(-3deg) translateY(10px);
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
}
.about__hihand{

    display: inline-block;

}

.about__card:hover .about__hihand{

    display: inline-block;
    -webkit-animation: hihand 10s infinite;
    animation: hihand .3s ease-in-out infinite;

}

@keyframes hihand {
    0% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
    50% {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
    100% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

}

.about__name{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 4em;
    text-align: left;
    font-weight: 600;
    transition: 1s;
    background-image: linear-gradient(
        75deg,
        var(--cprimary) 0%,
        var(--ctertiary) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.hero__program{
    display: flex;
    justify-content: center;
    align-items: center;
}

.manelli__logohero{
    width: 85%;
    transform: rotate(45deg);
    transition: all 1s;
    overflow: visible;
}
.manelli__logohero.active{
    transform: rotate(0deg);
}
.st1{
    transition: opacity 0.5s, transform .8s;
    transition-timing-function: cubic-bezier(.5, 1.75, .75, .8);
}
.second__st2{
    fill: #fff;
    opacity: 100%;
    transition: opacity .5s, transform .8s;
    transition-timing-function: cubic-bezier(.5, 1.75, .75, .8);
}
.manelli__logohero:active .st1{
    transform: translateY(0) translateX(20%);
}

.manelli__logohero:active .second__st2{
    transform: translateY(0) translateX(-20%);
}

.manelli__logohero:active .svg__dot{
    opacity: 0%;
}
.svghtml__bar{
    transform: rotate(20deg);
    fill: var(--cprimary);
    opacity: 0;
    transition: opacity .5s ease-in;
}
.manelli__logohero:active .svghtml__bar{
    opacity: 100%;
}
.logonavfill{
    transition: all 1s;
}
.logonavfill.active{
    fill:var(--csecondary)
}
.svg__dot{
    fill: var(--cprimary);
    transform: translateY(200px) translateX(200px) scale(0.01); 
    transition: transform 1s, fill 1s, opacity 1s;
}
.svg__dot.active{
    transform: scale(1);
}
.svg__dot:hover{
    fill: #fff;
}

.hero__down{
    display: flex;
    justify-content: center;
    align-items: center;

}

.scrollsign{
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scale(1);
    transition: transform .3s ease-in-out;
}
.scrollsign.off{
    transform: scale(0);
}

.scrollsign p{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    user-select: none;
    font-family: 'Dancing Script', cursive ;
    transform: rotate(5deg);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}
.mouse{
    margin: 0 auto;
    background: #fff;
    position: relative;
    width: 2rem;
    height: 3.2rem;
    border-radius: 10rem;
    background-size: 225%;
    animation: c 5s linear infinite, e 5s ease-out infinite;
}
  
.mouse::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 1.8rem;
    height: 3rem;
    background-color: var(--csecondary);
    border-radius: 10rem;
}
  
.mouse::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10rem;
    background-color: var(--cprimary);
    width: 0.35rem;
    height: 0.35rem;
    animation: d 5s linear infinite; 
}
@keyframes d{0%{opacity:1;transform:scale(1) translateY(-.8rem)}6%{opacity:1;transform:scale(.9) translateY(.2rem)}14%{opacity:0;transform:scale(.3) translateY(1.6rem)}15%,19%{opacity:0;transform:scale(.3) translateY(-.8rem)}28%,29.99%{opacity:1;transform:scale(1) translateY(-.8rem)}30%{opacity:1;transform:scale(1) translateY(-.8rem)}36%{opacity:1;transform:scale(.9) translateY(.2rem)}44%{opacity:0;transform:scale(.3) translateY(1.6rem)}45%,49%{opacity:0;transform:scale(.3) translateY(-.8rem)}58%,59.99%{opacity:1;transform:scale(1) translateY(-.8rem)}60%{opacity:1;transform:scale(1) translateY(-.8rem)}66%{opacity:1;transform:scale(.9) translateY(.2rem)}74%{opacity:0;transform:scale(.3) translateY(1.6rem)}75%,79%{opacity:0;transform:scale(.3) translateY(-.8rem)}88%,to{opacity:1;transform:scale(1) translateY(-.8rem)}}@keyframes e{0%{transform:translateY(0)}20%{transform:translateY(.4rem)}30%{transform:translateY(0)}50%{transform:translateY(.4rem)}60%{transform:translateY(0)}80%{transform:translateY(.4rem)}90%{transform:translateY(0)}
}

.buttons__hero{
    margin-top: 30px;
    width: 100%;
    text-align: left;
    display: flex;
}

.button{
    margin-right: 10px;
    width: 130px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: background-color .5s, color .4s;
}
.button:hover{
    background-color: var(--cprimary);
    color: #fff;
}
.buttoncv:hover{
    animation: wiggle1 ease infinite .3s;
}

.buttonlinkedin:hover{
    animation: wiggle2 ease infinite .3s;
}

.buttongit:hover{
    animation: wiggle3 ease infinite .3s;
}

@keyframes wiggle1 {
    0%{transform: scale(1.1) rotate(-6deg);}
    10%{transform: scale(1.1) rotate(-7deg);}
    20%{transform: scale(1.1) rotate(-8deg)}
    30%{transform: scale(1.1) rotate(-7deg)}
    40%{transform: scale(1.1) rotate(-6deg)}
    50%{transform: scale(1.1) rotate(-5deg)}
    60%{transform: scale(1.1) rotate(-4deg)}
    70%{transform: scale(1.1) rotate(-3deg)}
    80%{transform: scale(1.1) rotate(-4deg)}
    90%{transform: scale(1.1) rotate(-5deg)}
    100%{transform: scale(1.1) rotate(-6deg)}
}
@keyframes wiggle2 {
    0%{transform: scale(1.1) rotate(-1deg);}
    10%{transform: scale(1.1) rotate(-2deg);}
    20%{transform: scale(1.1) rotate(-3deg)}
    30%{transform: scale(1.1) rotate(-2deg)}
    40%{transform: scale(1.1) rotate(-1deg)}
    50%{transform: scale(1.1) rotate(0deg)}
    60%{transform: scale(1.1) rotate(1deg)}
    70%{transform: scale(1.1) rotate(2deg)}
    80%{transform: scale(1.1) rotate(1deg)}
    90%{transform: scale(1.1) rotate(0deg)}
    100%{transform: scale(1.1) rotate(-1deg)}
}
@keyframes wiggle3 {
    0%{transform: scale(1.1) rotate(4deg);}
    10%{transform: scale(1.1) rotate(3deg);}
    20%{transform: scale(1.1) rotate(2deg)}
    30%{transform: scale(1.1) rotate(3deg)}
    40%{transform: scale(1.1) rotate(4deg)}
    50%{transform: scale(1.1) rotate(5deg)}
    60%{transform: scale(1.1) rotate(6deg)}
    70%{transform: scale(1.1) rotate(7deg)}
    80%{transform: scale(1.1) rotate(6deg)}
    90%{transform: scale(1.1) rotate(5deg)}
    100%{transform: scale(1.1) rotate(4deg)}
}

/*#############################################################*/

.line__path{
    position: absolute;
    z-index: -1;
    width: 100vw;
}

/*############################ABOUT#############################################*/

.sobremi__back{
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobremi__base{
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle1{
    position: absolute;
    right: -100px;
    top: -50px;
    width: 600px;
    height: 500px;
    background-image: linear-gradient(0deg, var(--cprimary), var(--cquaternary));
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    animation: shake 60s linear infinite;
}
.circle2{
    position: absolute;
    right: 200px;
    bottom: -50px;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(90deg, rgb(255, 0, 255), var(--ctertiary));
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    animation: shake 30s linear infinite;
}

.sobremi__assets{
    position: absolute;
    width: 400px;
    top: 0;
    left: -100px;
    animation: rot 20s linear infinite;
}

.sobremi__container{
    position: relative;
    background-color: rgb(255, 255, 255, 70%);
    -webkit-backdrop-filter: blur(50px) saturate(200%);
    backdrop-filter: blur(50px) saturate(200%);
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 -20px 20px 0px #00000010;
    overflow: visible;
}

.titulos{
    position: relative;
    text-align: left;
    color: var(--csecondary);
    font-size: 3rem;
    border-bottom: 5px solid var(--cprimary);
    font-variation-settings: "wght" 600; 
    transition: 1s;
    display: inline-block;
}

.titulos:hover{
    font-variation-settings: "wght" 800;
}

.paragraph{
    color: var(--csecondary);
    padding-top: 20px;
    font-weight: 500;
}

.sobremi__image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.sobremi__image::before{
    content: "";
    position: absolute;
    width: 25vw;
    height: 25vw;
    max-width: 400px;
    max-height: 400px;
    border-bottom: 5px solid var(--cquaternary);
    border-radius: 50%;
    animation: rot 10s linear infinite;
}

.person{
    background: linear-gradient(-45deg, #FF0000, #ff00f2, #2b00ff);
	background-size: 400% 400%;
	animation: gradient 10s ease-in-out infinite;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.person img{
    object-fit: cover;
    width: 27vw;
    max-width: 400px;
    transform: scale(1.4) translateY(3vw) translateX(-1vw);
    filter: grayscale();
    transition: transform 1s, filter 1s;
    display: flex;
}
.person:hover img{
    transform: scale(1.6) translateY(3vw) translateX(-1vw);
    filter: none;
}

.sobremi__hands{
    display: inline-block;
    font-size: 2em;
}
.sobremi__container:hover .sobremi__hands{
animation: sobremihand .3s ease-in-out infinite;
}

@keyframes sobremihand {
    0% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
    50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
    }
    100% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }

}

.tags2.up{
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 0, 0.12);
    font-size: 2rem;
    font-weight: 300;
    position: absolute;
    top:-10%;
    left: 0;
    user-select: none;

}
.tags2.down{
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 0, 0.12);
    font-size: 2rem;
    font-weight: 300;
    position: absolute;
    bottom: -10%;
    left: 0;
    user-select: none;
}
.tags2.special{
    color: rgb(255, 255, 255, 0.03);
}
/*##########################################################################*/

.skills{
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: var(--csecondary);
}


.skills__container{
    position: relative;
    background-color: var(--cprimary);
    border-radius: 15px;
    width: 80%;
    padding: 50px;
    box-shadow: 0 0px 20px 0 #0000001c;
    text-align: center;
    max-height: 500px;
    z-index: 10;
    overflow: visible;
}
.skills__container::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    border: 5px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transform: translateX(-10px);
    animation: shake 60s linear infinite;
}

.svgtitle{
    width: 50%;
}

.skills__title{
    color: #fff;
    display: inline-block;
    border-bottom: 3px solid #fff;
}

.skills__boxes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.skills__dev{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.dev__logoscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}
.dev__logoscontainer img{
    width: 5vw;
    min-width: 60px;
    max-width: 80px;
    border-radius: 15px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    transition: transform .3s;
    background-color: rgb(255, 255, 255, 1);
}
.dev__logoscontainer img:hover{
    transform: scale(1.1);
}

.skiillslogos{
    position: relative;
    display: flex;
    justify-content: center;
}

.letter__down{
    color: #fff;
    font-family: "Ubuntu";
    font-weight: 500;
    transform: scale(0);
    transition: transform .2s;
    font-size: 1.1rem;
    position: absolute;
    bottom: -30%;
}

.skiillslogos:hover .letter__down{
    transform: scale(1);
}

.skills__design{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


/*#################### BRANDING ########################*/
.brand{
    position: relative;
    height: 100vh;
    max-height: 1080px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*display: grid;
    grid-template-rows: 10% 90%;*/
    margin-bottom: 100px;
}
.brand__tags{
    padding-top: 0;
    padding-bottom: 0;
}

.brand__title{
    margin-top: 0;
    text-align: center;
    width: 100%;
    margin-top: 3vh;
    padding-top: 0;
    padding-bottom: 10px;
}

.brand__container{
    padding: 10px;
    margin-top: 30px;
    width: 80%;
    max-height: 700px;
    background-color: #ededed;
    display: grid;
    grid-template-rows: repeat(17, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    border-radius: 15px;
    z-index: 10;
}
.brand__container div{
    overflow: hidden;
}

.brand__color1{
    height: 100%;
    background-color: var(--cprimary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}
.brand__color2{
    height: 100%;
    background-color: var(--ctertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand__color3{
    height: 100%;
    background-color: var(--cquaternary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand__color4{
    height: 100%;
    background-color: var(--csecondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
}
.brand__colores p{
    transform: scale(0);
    color: #fff;
    font-family: "ubuntu";
    font-weight: 600;
    transition: transform .2s;
    font-size: 1rem;
}
.brand__colores:hover p{
    transform: scale(1);
}
.brand__logo{
    grid-area: 2/1/10/3;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 0;
}
.brand__logo img{
    object-fit: cover;
    height: 80%;
}
.brand__logovariation{
    grid-area: 2/3/6/4;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand__logovariation img{
    height: 80%;
}
.brand__pattern{
    grid-area: 2/4/10/5;
    background-color: #fff;
    border-radius: 0 15px 0 0;
    overflow: hidden;
}
.brand__pattern img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.brand__photography{
    grid-area: 6/3/10/4;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.brand__photography img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.brand__mockup{
    grid-area: 10/1/14/3;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.brand__mockup img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.brand__mockup2{
    grid-area: 10/3/18/5;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0 0 15px 0;
}
.brand__mockup2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.brand__mockup3{
    grid-area: 14/2/18/3;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
}
.brand__mockup3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.brand__logovariation2{
    grid-area: 14/1/18/2;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 15px;
}
.brand__logovariation2 img{
    height: 80%;
}
.brand__animation img{
    transform: scale(1);
    transition: transform .4s;
}
.brand__animation:hover img{
    transform: scale(1.2);
}
/*######################################################*/


/*################### PROYECTOS ########################*/
.projects{
    position: relative;
    height: 100vh;
    max-height: 1080px;
    width: 100vw;
    max-height: 1920px;
    background-image: url(../assets/patron.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.projects span{
    padding-top: 0;
    padding-bottom: 0;
}

.projects__container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 0;
}
.projects__title{
    width: 100%;
    margin-bottom: 50px;
}
.projects__order{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60%;
    width: 80%;
}
.projects__card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects__cardcontainer{
    position: relative;
    background-color: var(--cprimary);
    box-shadow: 0 3px 10px 0 #0000002c;
    border-radius: 15px;
    width: 70%;
    height: 100%;
    max-height: 600px;
    display: grid;
    grid-template-rows: 40% 50% 10%;
    overflow: visible;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1);
    transition: transform .3s, box-shadow .3s;
}
.projects__cardcontainer::before{
    content: "";
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 5px solid var(--csecondary);
    transform: rotate(-3deg);
    transition: transform .5s;
}
.projects__cardcontainer:hover::before{
    transform: rotate(3deg);
}
.cardimg__container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.cardimg__img{
    width: 100%;
    height: 100%;
    background-image: url("../assets/agnpage.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cardimg__img2{
    width: 100%;
    height: 100%;
    background-image: url("../assets/impuestar.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects__cardcontainer:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 10px 0 #0000001c;
}
.projects__cardcontainer img{
    width: 100%;
    transform: scale(1);
    transition: transform .3s;
}
.projects__cardcontainer:hover img{
    transform: scale(1.05);
}

.projectscard__text{
    margin: 0 30px 0 30px;
}
.projectscard__text h1{
    color: #fff;
    border-bottom: 3px solid #0000001c;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.6rem;
}
.projectscard__text p{
    color: #fff;
    font-size: .8rem;
}
.projectscard__logos{
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
}
.projectscard__logos i{
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    transform: scale(1);
    transition: transform .3s;
}
.projectscard__logos i:hover{
    transform: scale(1.3);
}
/*######################################################*/

.design{
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.design__title{
    padding: 0;
    margin-bottom: 50px;
}

.design__container{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.designcards{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 #0000001c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.designcards img{
    width: 70%;
}
.desimg6 img{
    width: 100%;
}
.desimg1{
    grid-area: 1/1/5/4;
}
.desimg1::after{
    content: "";
    position: absolute;
    border-radius: 15px;
    border: 5px solid var(--csecondary);
    width: 100%;
    height: 100%;
    animation: shake 60s linear infinite;
}
.desimg6{
    grid-area: 2/3/4/5;
}
.desimg6::after{
    content: "";
    position: absolute;
    border-radius: 15px;
    border: 5px solid var(--csecondary);
    width: 100%;
    height: 100%;
    animation: shake 20s linear infinite;
}
.desimg3{
    grid-area: 1/4/3/6;
}
.desimg3::after{
    content: "";
    position: absolute;
    border-radius: 15px;
    border: 5px solid var(--csecondary);
    width: 100%;
    height: 100%;
    animation: shake 25s linear infinite;
}
.desimg4{
    grid-area: 1/6/3/8;
}
.desimg4::after{
    content: "";
    position: absolute;
    border-radius: 15px;
    border: 5px solid var(--csecondary);
    width: 100%;
    height: 100%;
    animation: shake 35s linear infinite;
}
.desimg5{
    grid-area: 3/4/5/6;
}
.desimg5::after{
    content: "";
    position: absolute;
    border-radius: 15px;
    border: 5px solid var(--csecondary);
    width: 100%;
    height: 100%;
    animation: shake 40s linear infinite;
}
.desimg2{
    grid-area: 3/6/5/8;
}
.desimg2::after{
    content: "";
    position: absolute;
    border-radius: 15px;
    border: 5px solid var(--csecondary);
    width: 100%;
    height: 100%;
    animation: shake 30s linear infinite;
}








.footer{
    width: 100vw;
}
.footer__transition{
    position: relative;
    margin-bottom: -10px;
    width: 100vw;
}
.footer__container{
    background-color: var(--csecondary);
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__declaration{
    color: #fff;
    font-weight: 300;
}
.footer__heart{
    color: #FF4779;
    animation: heart 1s ease-in-out infinite;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes heart{
    0% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
    50% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

}