/*@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);*/

:root{
	--cprimary:#ff00f2;
	--csecondary:#272626;
    --ctertiary: #FF4779;
    --cquaternary: #FF8D00;
}
body{
	font-family: 'Raleway', sans-serif;
	animation: linear fadein .5s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    /*cursor: url(../assets/dot.png), auto;*/
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
	width: 12px;
	background: rgb(255, 255, 255);
}
body::-webkit-scrollbar-track{
	margin-block: .5em;
}
body::-webkit-scrollbar-thumb{
	background: #6a6a6a79;
	border-radius: 100vw;
	border: 2px solid #fff;
	transition: .5s;
}
body::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(rgb(89, 0, 255), rgb(255, 0, 212)) ;
}

*::selection{
	background: #ffddfd;
	color: var(--csecondary);
}
.smoothclear{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    z-index: 2000;
    transition: 1s;
}
.smoothclear.active{
    background-color: transparent;
    visibility: hidden;
}

/*###################CONTENEDORES#####################*/
.container{
	width:  90%;
	margin: 0 auto;
	padding: 80px;
	max-width: 1200px;
	overflow: hidden;
}
/*#####################################################*/

.burger{
    margin-right: 30px;
    height:80px;
    width:80px;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:8px;
}
  
.burger div{
    background-color:white;
    height:6px;
    width: 48px;
    border-radius:3px;
    transition: 0.5s;
}

.buractive div{
    background-color: var(--csecondary);
}
  
.active div:nth-child(1){
    transform: translateY(12px) rotate(135deg);
}
  
.active div:nth-child(2){
    transform: scale(0);
}
  
.active div:nth-child(3){
    transform: translateY(-16px) rotate(-135deg);
}

/*#######################HEADER########################*/
.header{
    background-color: var(--csecondary);
	height: 100vh;
    width: 100vw;
	position: relative;
}

.nav__container{
    backdrop-filter: saturate(200%) blur(10px);
    height: 69px;
    background-color: rgba(39, 38, 38, 0.8);
    position: fixed;
    z-index: 100;
    transition: 1s;
    box-shadow: 0 5px 30px 0px #ffffff10;
}

.nav__container.light{
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 5px 30px 0px #00000015;
}

.nav{
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
}

.nav__ul{
    display: flex;
    list-style: none;
    margin-right: 30px;
    transition: all 0.013s;
}

.nav__li2 a{
    color: var(--csecondary);
    font-weight: 400;
}
.nav__lia{
    margin: 0 8px;
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color .5s, transform .5s, margin .5s;
    font-weight: 300;
}
.nav__separator{
    font-weight: 700;
    opacity: .5;
    color: var(--ctertiary);
}

.nav__lia.active{
    color: var(--cprimary);
    font-weight: 500;
    border-bottom: 2px solid var(--cprimary);
}

.nav__li a:hover{
    color: var(--cprimary);
}

.nav__li2 a:hover{
    color: var(--cprimary);
}

.nav__li:active{
    transform: scale(.9);
}

.nav__li2:active{
    transform: scale(.9);
}

.nav__logomanelli{
    margin-top: 10px;
    width: 50px;
    margin-left: 30px;
    transition: transform .2s;
}

.nav__logomanelli:hover{
    transform: scale(1.2);
}

.nav__logomanelli:active{
    transform: scale(1);
}

.show.black{
    top: 0;
    left:0px;
    z-index: -1;
}

.show.white{
    top: 0;
    left:0px;
    z-index: -1;
    background-color: #fff;
}

.fa-bars{
    transition: color 1s;
}

.fa-bars.black{
    
    color:var(--csecondary)
} 
.fa-bars.white{
    
    color:#fff;
}

.nav__menu{
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}


progress{
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border: none;
    background: transparent;
}
progress::-webkit-progress-bar {
    background: transparent;
}
  
progress::-webkit-progress-value {
    /*mix-blend-mode: difference;*/
    background: linear-gradient(to right, var(--cprimary), var(--ctertiary),var(--cquaternary));
    background-attachment: fixed;
}

progress::-moz-progress-bar {
    /*mix-blend-mode: difference;*/
    background: linear-gradient(to right, var(--cprimary), var(--ctertiary),var(--cquaternary));
    background-attachment: fixed;
}

.hero{
    width: 100vw;
    height: 90vh;
    max-width: 1200px;
    /*display:grid;
    grid-template-columns: 60% 40%;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*###############################################################*/


/*########################CONTENIDO HEADER#######################*/
.hero__about{
    margin-right: 50px;
}

.about__card{
    position:relative;
    margin:0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.about__title{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
    transition: 1s;
}
.about__hi{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
}
.about__name{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 4em;
    text-align: left;
    font-weight: 600;
    transition: 1s;
    background-image: linear-gradient(
        75deg,
        var(--cprimary) 0%,
        var(--ctertiary) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.hero__program{
    display: flex;
    justify-content: center;
    align-items: center;
}

.manelli__logohero{
    width: 85%;
    transform: rotate(45deg);
    transition: all 1s;
    overflow: visible;
}
.manelli__logohero.active{
    transform: rotate(0deg);
}
.st1{
    transition: opacity 0.5s, transform .8s;
    transition-timing-function: cubic-bezier(.5, 1.75, .75, .8);
}
.second__st2{
    fill: #fff;
    opacity: 100%;
    transition: opacity .5s, transform .8s;
    transition-timing-function: cubic-bezier(.5, 1.75, .75, .8);
}
.manelli__logohero:active .st1{
    transform: translateY(0) translateX(20%);
}

.manelli__logohero:active .second__st2{
    transform: translateY(0) translateX(-20%);
}

.manelli__logohero:active .svg__dot{
    opacity: 0%;
}
.svghtml__bar{
    transform: rotate(20deg);
    fill: var(--cprimary);
    opacity: 0;
    transition: opacity .5s ease-in;
}
.manelli__logohero:active .svghtml__bar{
    opacity: 100%;
}
.logonavfill{
    transition: all 1s;
}
.logonavfill.active{
    fill:var(--csecondary)
}
.svg__dot{
    fill: var(--cprimary);
    transform: translateY(200px) translateX(200px) scale(0.01); 
    transition: transform 1s, fill 1s, opacity 1s;
}
.svg__dot.active{
    transform: scale(1);
}
.svg__dot:hover{
    fill: #fff;
}
.buttons__hero{
    margin-top: 30px;
    width: 100%;
    text-align: left;
}

.button{
    margin-right: 10px;
    width: 130px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: background-color .5s, color .4s, transform .4s;
}
.button:hover{
    transform: scale(1.1);
    background-color: var(--cprimary);
    color: #fff;
}

/*#############################################################*/


/*#################BOTON HEADER################################*/
.hero__down{
    text-align: center;
}
.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.9em;
    border: none;
    background: linear-gradient(to right, var(--cprimary), var(--cquaternary));
    color: ghostwhite;
    overflow: hidden;
    cursor: pointer;
}
.cssbuttons-io a{
    color: #fff;
    text-decoration: none;
}

   
.cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}
   
.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
    font-variation-settings: "wght" 300; 
    transition: 1s;
}
.cssbuttons-io span:hover{
    font-variation-settings: "wght" 800; 
}
   
.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
   
.cssbuttons-io::before {
    content: "";
    background: #000;
    width: 130%;
    height: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
   
.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}
   
.cssbuttons-io:active {
    transform: scale(0.95);
}
/*##############################################################################*/

.line__path{
    position: absolute;
    z-index: -1;
    width: 100vw;
}

/*############################ABOUT#############################################*/   

.sobremi__back{
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: linear-gradient(to bottom, var(--csecondary) 0 1%, transparent, transparent);*/
}

.sobremi__container{
    background: linear-gradient(to bottom, #ffffffd9 0 50%, transparent);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 15px 15px 0px 0px;
    width: 85%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -20px 20px 0px #00000010;
    z-index: 10;

    /*display: grid;
    grid-template-columns: 1fr 1fr;*/
}

.sobremi__title{
    text-align: center;
    width: 50%;
    color: var(--csecondary);
    font-size: 3rem;
    border-bottom: 5px solid #ff00f2; 
    font-variation-settings: "wght" 600; 
    transition: 1s;
}
.sobremi__title:hover{
    font-variation-settings: "wght" 800;
}

.sobremi__paragraph{
    color: var(--csecondary);
    padding-top: 20px;
    font-weight: 500;
}

.sobremi__image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-right: 50px;
}

.person{
    background: linear-gradient(-45deg, #FF0000, #ff00f2, #2b00ff);
	background-size: 400% 400%;
	animation: gradient 10s ease-in-out infinite;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.person img{
    object-fit: cover;
    width: 27vw;
    transform: scale(1.4) translateY(3vw) translateX(-1vw);
    filter: grayscale();
    transition: transform 1s, filter 1s;
    display: flex;
}
.sobremi__image:hover img{
    transform: scale(1.6) translateY(3vw) translateX(-1vw);
    filter: none;
}
/*##########################################################################*/

.skills{
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__container{
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0px 20px 0 #0000001c;
    text-align: center;
    width: 85%;
    height: 80%;
    max-height: 500px;
    z-index: 10;
    /*display: grid;
    grid-template-rows: 20% 80%;*/
}

.skills__title1{
    width: initial;
    margin-top: 0;
}

.skills__title{
    color: var(--csecondary);
}

.skills__boxes{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;*/
}

.skills__dev{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
    /*display: grid;
    grid-template-rows: 10% 90%;*/
}

.dev__logoscontainer{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    /*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
}
.dev__logoscontainer img{
    border-radius: 15px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    transition: transform .3s;
}
.dev__logoscontainer img:hover{
    transform: scale(1.1);
}

.letter__down{
    color: var(--csecondary);
    font-family: "Ubuntu";
    font-weight: 500;
    transform: scale(0);
    transition: transform .2s;
    font-size: 1.1rem;
    position: relative;
}

.skiillslogos:hover .letter__down{
    transform: scale(1);
}
.skills__design{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    /*display: grid;
    grid-template-rows: 10% 90%;*/
}



/*##################### ASSETS #########################*/

.assets{
    position: absolute;
    color: var(--csecondary);
    font-size: 6rem;
    opacity: .05;
    z-index: -1;
}
.asset1{
    position: absolute;
    top: 110vh;
    left: 90%;
    transform: rotate(25deg);
}
.asset2{
    position: absolute;
    top: 170vh;
    left: 90%;
    transform: rotate(-25deg);
}
.asset3{
    position: absolute;
    top: 195vh;
    left: 30%;
    transform: rotate(-10deg);
}
.asset4{
    color: #fff;
    opacity: 1;
    position: absolute;
    top: 108vh;
    left: 10%;
    transform: rotate(10deg);
}
.asset5{
    opacity: 1;
    position: absolute;
    top: 240vh;
    left: 85%;
    transform: rotate(0deg);
}
.asset6{
    opacity: 1;
    position: absolute;
    top: 270vh;
    left: 10%;
    transform: rotate(0deg);
}


/*######################################################*/


/*#################### BRANDING ########################*/
.brand{
    height: 100vh;
    max-height: 1080px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*display: grid;
    grid-template-rows: 10% 90%;*/
}

.brand__title{
    margin-top: 0;
    text-align: center;
    width: 100%;
    margin-top: 3vh;
}

.brand__container{
    padding: 10px;
    margin-top: 30px;
    height: 90%;
    width: 100%;
    max-height: 700px;
    background-color: #3b3b3b1c;
    display: grid;
    grid-template-rows: repeat(17, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    border-radius: 15px;
}

.brand__color1{
    height: 100%;
    background-color: var(--cprimary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}
.brand__color2{
    height: 100%;
    background-color: var(--ctertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand__color3{
    height: 100%;
    background-color: var(--cquaternary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand__color4{
    height: 100%;
    background-color: var(--csecondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
}
.brand__colores p{
    transform: scale(0);
    color: #fff;
    font-family: "ubuntu";
    font-weight: 600;
    transition: transform .2s;
    font-size: 1vw;
}
.brand__colores:hover p{
    transform: scale(1);
}
.brand__logo{
    grid-area: 2/1/10/3;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 0;
}
.brand__logo img{
    object-fit: cover;
    height: 80%;
}
.brand__logovariation{
    grid-area: 2/3/6/4;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand__logovariation img{
    height: 80%;
}
.brand__pattern{
    grid-area: 2/4/10/5;
    background-color: #fff;
    border-radius: 0 15px 0 0;
    overflow: hidden;
}
.brand__pattern img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.brand__photography{
    grid-area: 6/3/10/4;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.brand__photography img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.brand__mockup{
    grid-area: 10/1/14/3;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.brand__mockup img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.brand__mockup2{
    grid-area: 10/3/18/5;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0 0 15px 0;
}
.brand__mockup2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.brand__mockup3{
    grid-area: 14/2/18/3;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
}
.brand__mockup3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.brand__logovariation2{
    grid-area: 14/1/18/2;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 15px;
}
.brand__logovariation2 img{
    height: 80%;
}
.brand__animation img{
    transform: scale(1);
    transition: transform .4s;
}
.brand__animation:hover img{
    transform: scale(1.2);
}
/*######################################################*/


/*################### PROYECTOS ########################*/
.projects{
    height: 100vh;
    max-height: 1080px;
    width: 100vw;
    max-height: 1920px;
    background-image: url(../assets/patron.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.projects__container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 0;
}
.projects__title{
    width: 100%;
    margin-bottom: 50px;
}
.projects__order{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.projects__card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects__cardcontainer{
    background-color: #fff;
    box-shadow: 0 3px 10px 0 #0000002c;
    border-radius: 15px;
    width: 70%;
    height: 100%;
    max-height: 600px;
    display: grid;
    grid-template-rows: 40% 50% 10%;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1);
    transition: transform .3s, box-shadow .3s;
}
.cardimg__container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.projects__cardcontainer:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 10px 0 #0000001c;
}
.projects__cardcontainer img{
    width: 100%;
    transform: scale(1);
    transition: transform .3s;
}
.projects__cardcontainer:hover img{
    transform: scale(1.05);
}

.projectscard__text{
    margin: 0 30px 0 30px;
}
.projectscard__text h1{
    color: var(--csecondary);
    border-bottom: 3px solid #0000001c;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.6rem;
}
.projectscard__text p{
    color: var(--csecondary);
    font-size: .8rem;
}
.projectscard__logos{
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
}
.projectscard__logos i{
    color: var(--cprimary);
    margin-left: 10px;
    margin-right: 10px;
    transform: scale(1);
    transition: transform .3s;
}
.projectscard__logos i:hover{
    transform: scale(1.3);
}
/*######################################################*/

.design{
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.design__title{
    padding: 0;
    margin-bottom: 50px;
}

.design__container{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.designcards{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 #0000001c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.designcards img{
    width: 70%;
}
.desimg6 img{
    width: 100%;
}
.desimg1{
    grid-area: 1/1/5/4;
}
.desimg6{
    grid-area: 2/3/4/5;
}
.desimg3{
    grid-area: 1/4/3/6;
}
.desimg4{
    grid-area: 1/6/3/8;
}
.desimg5{
    grid-area: 3/4/5/6;
}
.desimg2{
    grid-area: 3/6/5/8;
}








.footer{
    width: 100vw;
}
.footer__transition{
    position: relative;
    margin-bottom: -10px;
    width: 100vw;
}
.footer__container{
    background-color: var(--csecondary);
    width: 100vw;
    height: 300px;
}
  







/*------------------------------------mediaquerys---------------------------------------------*/
@media only screen and (max-width: 1312px) {
    .letter__down{
        font-size: .9rem;
    }
}

@media only screen and (max-width: 1100px) {
    .letter__down{
        font-size: .8rem;
    }
}

@media only screen and (max-width: 992px) {

    /*#################### NAV ####################*/
    .nav__menu{
        display: initial;
        display: inline-flex ;
    }
    .nav__ul{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(39, 38, 38, 1);
        left: -100vw;
        top: 0;
        text-align: center;
        transition: .5s;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 20;
        margin-right: 0;
        padding: 0;
        
    }
    .nav__li{
        margin-bottom: 30px;
        font-size: 3rem;
    }
    .nav__li2{
        margin-bottom: 30px;
        font-size: 3rem;
    }
    .nav__separator{
        display: none;
    }
    /*############################################*/

    /*################## HEADER ###################*/

    .hero{
        flex-direction: column-reverse;
    }
    .hero__about{
        margin-right: initial;
        margin-top: 50px;
    }
    .manelli__logohero{
        width: 30vh;
    }

    /*############################################*/


    /*################## SKILLS #################*/
    .skills{
        height: 200vh;
    }
    .skills__container{
        max-height: 1920px;
    }

    .skills__boxes{
        flex-direction: column;
        margin-top: 50px;
    }
    .skills__dev{
        margin-top: 50px;
        margin-right: 0;
    }
    .skills__design{
        margin-top: 50px;
        margin-left: 0;
    }
    .letter__down{
        font-size: 1.2rem;
    }
    /*############################################*/
}

@media only screen and (max-width: 688px) {

    /*################## HEADER ###################*/
    
    .about__name{
        font-size: 3.5rem;
    }
    .buttons__hero{
        width: 100%;
    }

    /*############################################*/


    /*################# SOBRE MI #################*/

    .sobremi__back{
        margin-top: 70px;
    }
    .sobremi__container{
        flex-direction: column;
    }
    .sobremi__image{
        margin-right: initial;
        margin-bottom: 30px;
    }
    .person{
        width: 40vw;
        height: 40vw;
    }
    .person img{
        width: 40vw;
    }
    .sobremi__title{
        width: 100%;
    }

    /*############################################*/

    /*################## SKILLS #################*/
    .letter__down{
        font-size: 1rem;
    }
    /*############################################*/


    /*################# PROYECTOS ################*/
    .projects{
        height: 200vh;
    }
    .projects__container{
        height: 100%;
    }
    .projects__order{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .projects__cardcontainer{
        width: 100%;
        height: 95%;
    }
    .projectscard__text p{
        font-size: 1rem;
    }
    
    /*############################################*/


    /*################# DISEÑOS #################*/
    .design__container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .designcards{
        grid-area: initial;
        overflow: hidden;
    }

    /*############################################*/

}


@media only screen and (max-width: 620px){
    .letter__down{
        font-size: .9rem;
    }
}



@media only screen and (max-width: 585px){
    /*################## HEADER ###################*/

    .hero{
        padding-left: 20px;
        padding-right: 20px;
    }

    /*############################################*/

    /*################## SKILLS ###################*/

    .sobremi__title{
        font-size: 2rem;
    }

    .dev__logoscontainer{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .skills__boxes{
        margin-top: 100px;
    }
    .letter__down{
        font-size: 1rem;
    }

    /*############################################*/
}


@media only screen and (max-width: 465px){
    /*################## HEADER ###################*/

    .hero{
        height: 90vh;
    }
    /*############################################*/

    .about__name{
        font-size: 3rem;
    }

    .button{
        width: 26vw;
        height: 50px;
    }
    .fa-solid{
        display: flex;
        flex-direction: column;
    }
    .fa-brands{
        display: flex;
        flex-direction: column;
    }

    /*################## SKILLS ###################*/
    .letter__down{
        font-size: 0.75rem;
    }

    /*############################################*/
}


@media only screen and (max-width: 420px){
    .about__hi{
        font-size: 5vw;
    }
    .about__name{
        font-size: 11vw;
    }
    .about__title{
        font-size: 5vw;
    }
    /*################## SKILLS ###################*/
    .skills{
        max-height: 1800px;
        height: 1800px;
    }
    .dev__logoscontainer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .skills__logocontainer{
        grid-template-rows: repeat(2, 1fr);
    }
    .letter__down{
        font-size: 1.5rem;
    }
    /*############################################*/
}

@media only screen and (max-width: 380px){
    .sobremi__title{
        font-size: 1.5rem;
    }
}
/*------------------------------------------------------------------------------------------*/