@media only screen and (max-width: 1312px) {
    .letter__down{
        font-size: .9rem;
    }
}

@media only screen and (max-width: 1100px) {
    .letter__down{
        font-size: .8rem;
    }
}

@media only screen and (max-width: 992px) {


    /*#################### NAV ####################*/
    .nav{
        justify-content: center;
        gap: 30px;
    }
    .prueba.off{
        opacity: 0;
        animation-delay: opacity 1s;
    }

    .nav__menu{
        display: initial;
        display: inline-flex ;
    }
    .nav__logomanelli{
        margin-left: 0;
    }
    .nav__container.on{
        height: 100vh;
        overflow: hidden;
    }
    .nav__ul{
        position: fixed;
        margin-top: 9vh;
        width: 100vw;
        height: 91vh;
        top: 0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        transition: .5s;
        flex-direction: column;
        align-items: center;
        z-index: 20;
        margin-right: 0;
        margin-top: 15vh;
        padding: 0;
        
    }
    .nav__ul.show{
        top: 0;
        left:0px;
        opacity: 1;
        visibility: visible;
    }
    .nav__ul2{
        text-align: left;
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
    .nav__lia span{
        display: initial;
        text-align: left;
        margin-right: 20px;
    }
    .burger{
        display: flex;
        margin-right: 0; 
    }
    .burger div{
        display: initial;
    }
    .nav__li{
        margin-bottom: 30px;
        font-size: 3rem;
    }
    .nav__li2{
        margin-bottom: 30px;
        font-size: 3rem;
    }
    .nav__separator{
        display: none;
    }
    /*############################################*/

    /*################## HEADER ###################*/

    .hero{
        flex-direction: column-reverse;
    }

    .hihand{
        animation: hihand .3s ease-in-out infinite;
    }
    @keyframes hihand {
        0% {
          -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
        }
        50% {
          -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        100% {
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }
    
    }

    .hero__about{
        margin-right: initial;
        margin-top: 50px;
    }
    .manelli__logohero{
        width: 30vw;
    }
    .hero__down{
        margin-bottom: 40px;
    }

    /*############################################*/

    /*################## ABOUT ###################*/

    .sobremi__base{
        width: 95%;
    }
    .sobremi__assets{
        visibility: hidden;
        display: none;
    }

    .sobremi__hands{
        animation: sobremihand .3s ease-in-out infinite;
    }

    /*############################################*/


    /*################## SKILLS #################*/
    .skills__container{
        width: 95%;
        max-height: 1000px;
    }
    .skills__boxes{
        flex-direction: column;
    }
    /*############################################*/

    /*################## BRANDING ################*/

    .projects__order{
        gap: 50px;
    }

    .brand__container{
        width: 95%;
    }
    .projects__cardcontainer{
        width: 100%;
    }

    /*############################################*/


    /*################## PROJECTS ################*/

    .projects__order{
        width: 95%;
    }

    /*############################################*/

}




@media only screen and (max-width: 688px) {


    .tags2.up{
        padding: 0;
    }
    .tags2.down{
        padding: 0;
    }


    /*################## HEADER ###################*/
    
    .about__name{
        font-size: 3.5rem;
    }
    .buttons__hero{
        width: 100%;
    }

    /*############################################*/


    /*################# SOBRE MI #################*/

    .sobremi__assets{
        top: initial;
        bottom: -100px;
        left: -200px;
        width: 700px;
    }

    .sobremi__back{
        margin-top: 70px;
    }
    .sobremi__container{
        flex-direction: column;
    }
    .sobremi__image{
        margin-right: initial;
        margin-bottom: 30px;
    }
    .sobremi__image::before{
        width: 40vw;
        height: 40vw;
    }
    .person{
        width: 40vw;
        height: 40vw;
    }
    .person img{
        width: 40vw;
    }
    .sobremi__title{
        width: 100%;
    }

    /*############################################*/

    /*################## SKILLS #################*/
    .skills{
        height: 100vh;
    }
    /*############################################*/


    /*################# PROYECTOS ################*/
    .projects{
        height: 200vh;
    }
    .projects__container{
        height: 100%;
    }
    .projects__order{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 80%;
    }
    .projects__cardcontainer{
        width: 60%;
        height: 100%;
    }
    .projectscard__text p{
        font-size: 1rem;
    }
    
    /*############################################*/


    /*################# DISEÑOS #################*/
    .design{
        padding: 0;
    }
    .design__container{
        width: 90%;
        height: 80%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .designcards{
        grid-area: initial;
    }

    /*############################################*/

}


@media only screen and (max-width: 620px){
    .letter__down{
        font-size: .9rem;
    }
    .brand__pattern{
        grid-area: 2/3/6/5;
    }
    .brand__logovariation{
        grid-area: 6/4/10/5;
    }
    .brand__logovariation img{
        width: 75%;
    }
}



@media only screen and (max-width: 585px){

   


    /*################## HEADER ###################*/

    .hero{
        padding-left: 20px;
        padding-right: 20px;
    }

    /*############################################*/

    /*################## ABOUT ####################*/

    .circle2{
        width: 350px;
        height: 350px;
    }

    /*############################################*/

    /*################## SKILLS ###################*/

    .svgtitle{
        width: 90%;
    }

    /*############################################*/
}

@media only screen and (max-width: 520px){

    /*################## ABOUT ####################*/

    .circle2{
        right: initial;
        left: -50px;
    }
    .person img{
        filter: none;
    }

    /*############################################*/


    /*################## ABOUT ####################*/
    .footer__declaration{
        font-size: 1rem;
    }
    /*############################################*/

}


@media only screen and (max-width: 465px){



    /*################## HEADER ###################*/
    .manelli__logohero{
        width: 30vw;
    }
    .buttons__hero{
        gap: 15px;
    }
    .BotonHeader{
        width: 120px;
        height: 50px;
    }
    /*############################################*/


    /*################## ABOUT ####################*/

    .circle1{
        width: 400px;
        height: 500px;
        right: -5%;
    }
    .about__name{
        font-size: 3rem;
    }
    .button{
        width: 26vw;
        height: 50px;
    }

    /*############################################*/

    /*################## SKILLS ###################*/
    .letter__down{
        font-size: 0.75rem;
    }

    /*############################################*/


    /*################## PROJECTS ###################*/

    .projects__cardcontainer{
        width: 90%;
    }

    /*############################################*/
}


@media only screen and (max-width: 420px){


    .hero{
        height: 75vh;
    }

    .about__hi{
        font-size: 5vw;
    }
    .about__name{
        font-size: 11vw;
    }
    .about__title{
        font-size: 4.7vw;
    }
    /*################## SKILLS ###################*/
    /*############################################*/
}

@media only screen and (max-width: 380px){
    .hero{
        min-height: 530px;
    }
    .sobremi__back{
        min-height: 1000px;
    }
    .skills{
        min-height: 1000px;
    }
    .sobremi__title{
        font-size: 1.5rem;
    }
}